<div class="editor-toolbar js-editor-toolbar">
    <div class="editor-toolbar__content">
        <h3 class="margin--bottom-small text--uppercase">@Model.ContentItem.DisplayText</h3>
        @if (Model.ContentItem.Published)
        {
            <p class="text--size-small font--subheading margin--bottom-none">
                @T["Published by {0} on {1}.", Model.ContentItem.Author, Model.ContentItem.PublishedUtc.ToString()]
                <a edit-for="@Model.ContentItem" asp-route-returnUrl="@FullRequestPath" class="link--edit">@T["Edit"] @Model.ContentItem.ContentType</a>
                <a href="#" onclick="document.querySelector('.js-editor-toolbar').remove(); return false;">Hide</a>
            </p>
        }
        else
        {
            <p class="text--size-small font--subheading margin--bottom-none">
                @T["Draft"].
                <a edit-for="@Model.ContentItem" asp-route-returnUrl="@FullRequestPath" class="link--edit">@T["Edit"] @Model.ContentItem.ContentType</a>
                <a href="#" onclick="document.querySelector('.js-editor-toolbar').remove(); return false;">Hide</a>
            </p>
        }
    </div>
</div>